.gray_one {
    color: rgb(10%, 10%, 10%);
}

.gray_two {
    color: rgb(20%, 20%, 20%);
}

.gray_three {
    color: rgb(30%, 30%, 30%);
}

.gray_four {
    color: rgb(40%, 40%, 40%);
}

.gray_five {
    color: rgb(50%, 50%, 50%);
}

.gray_six {
    color: rgb(60%, 60%, 60%);
}

.gray_seven {
    color: rgb(70%, 70%, 70%);
}

.gray_eight {
    color: rgb(80%, 80%, 80%);
}

.gray_nine {
    color: rgb(90%, 90%, 90%);
}