.one {
    color: rgb(10%, 10%, 10%);
}

.two {
    color: rgb(20%, 20%, 20%);
}

.three {
    color: rgb(30%, 30%, 30%);
}

.four {
    color: rgb(40%, 40%, 40%);
}

.five {
    color: rgb(50%, 50%, 50%);
}

.six {
    color: rgb(60%, 60%, 60%);
}

.seven {
    color: rgb(70%, 70%, 70%);
}

.eight {
    color: rgb(80%, 80%, 80%);
}

.nine {
    color: rgb(90%, 90%, 90%);
}